body {
	font-family: Arial, sans-serif;
	background-image: url('bg-login.webp'); /* Caminho da imagem de fundo */
	background-size: cover; /* Faz a imagem cobrir todo o fundo */
	background-position: center; /* Centraliza a imagem no fundo */
	background-repeat: no-repeat; /* Evita repetição da imagem */
	margin: 0;
	padding: 0;
	min-height: 100vh; /* Garante que o fundo cubra a tela inteira */
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff; /* Ajusta a cor do texto para contraste com o fundo */
  }
  
  .container {
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
	width: 90%;
	max-width: 1200px;
  }
  
  .card {
	background: #fff;
	color: #333;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	cursor: pointer;
	text-align: center;
	transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card img {
	width: 100%;
	height: 200px;
	object-fit: cover;
  }
  
  .card p {
	padding: 15px;
	margin: 0;
	font-size: 14px;
  }
  
  .card:hover {
	transform: translateY(-5px);
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  